{% extends "layout.html" %}
{% block title %}Taroのプロフィール{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
{% endblock %}
{% block content %}
    <h1>Taro</h1>
    <p>こんにちは！私はTaroです。Flaskが大好きです。</p>
    <ul>
        <li>趣味: プログラミング</li>
        <li>特技: Python開発</li>
    </ul>
    <a href="https://example.com">私のブログ</a>
    <br>
    <img src="../static/images/profile.jpg" alt="プロフィール画像" width="200">
    <table border="1">
        <tr>
            <th>名前</th>
            <th>年齢</th>
        </tr>
        <tr>
            <td>Taro</td>
            <td>25</td>
        </tr>
    </table>

    <form>
        名前: <input type="text" name="name"><br>
        年齢: <input type="number" name="age"><br>
        <input type="submit" value="送信">
    </form>
{% endblock %}
