<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Taroのプロフィール</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <div class="logo">
            <h1>企業名</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">ホーム</a></li>
                <li><a href="{{ url_for('profile') }}">プロフィール</a></li>
                <li><a href="#">サービス</a></li>
                <li><a href="#">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <h1>Taro</h1>
    <p>こんにちは！私はTaroです。Flaskが大好きです。</p>
    <ul>
        <li>趣味: プログラミング</li>
        <li>特技: Python開発</li>
    </ul>
    <a href="https://example.com">私のブログ</a>
    <br>
    <img src="../static/images/profile.jpg" alt="プロフィール画像" width="200">
    <table border="1">
        <tr>
            <th>名前</th>
            <th>年齢</th>
        </tr>
        <tr>
            <td>Taro</td>
            <td>25</td>
        </tr>
    </table>

    <form>
        名前: <input type="text" name="name"><br>
        年齢: <input type="number" name="age"><br>
        <input type="submit" value="送信">
    </form>

</body>
</html>
