{% extends "layout.html" %}

{% block title %}{{ username }}のプロフィール{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
    <section class="profile">
        <h2>{{ username }}さんのプロフィール</h2>
        <p>年齢: {{ age }}歳</p>

        <h3>趣味</h3>
        <ul class="hobby-list">
            {% for hobby in hobbies %}
            <li>{{ hobby }}</li>
            {% endfor %}
        </ul>

        <div class="age-status">
            {% if age >= 20 %}
                <p class="adult">成人です。</p>
            {% else %}
                <p class="minor">未成年です。</p>
            {% endif %}
        </div>

        
    </section>
{% endblock %}
